*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

.navbar{
    height:60px;
    background-color:  #1F74BA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}


.logo{
    background-image:url("abcd.png");
    height: 50px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat; /* Prevents repetition */
    background-position: center; /* Centers the logo */
    
    ;
}         

.border{
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: ;
}




/** box 2 **/
.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px; 
    ;
}
.add-sec{
    font-size: 1rem;
    margin-left:3px;
}
.add-icon{
    display:flex;

}







/** box 3 **/
.nav-search{
    background-color: pink;
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}

.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    color:#0f1111;
}

button {
    background-color:white; /* Blue background */
    color: #000000; /* Black text */
    font-size: 16px; /* Adjust font size */
    padding: 10px 30px; /* Adjust padding */
    border: none; /* Remove border */
    border-radius: 4px; /* Slightly rounded corners */
    cursor: pointer;
  }

  .nav-signin:hover{
    border: 2px solid wheat;
    border-radius: 4px;
  }
/**box4**/
.nav-first{
    font-size: 1rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}


/**box6**/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-weight: 700;
    font-size: 0.85rem;
}




/**panel**/

.panel {
    height:40px;
    background-color: #FFFFFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    
    
}

.items{
background-color: transparent;
color: black;
font-size: 15px;
outline: none;
border: none;

}
.items:hover{
    border: 2px solid black;
}
.abcd{
    height:450px;
    width:1200px;
    background-color:white;
    justify-self:center;
    justify-content: center;
   display: flex;
   border-color: 2px solid black;
   margin-top: 10px;
}

.slidebar{
    height:100%;
    width:100px;
    background-color: white;
    border: 1px solid white;
   
    
}

.smallimages{
    width: 100px; 
    height:75px;
    display: flex;
    align-items: center;
    justify-content: center;
   box-sizing:border-box;
}
.smallimages:hover{
    border:2px solid #1F74BA;
}



#a{
    background-color:white;
}
#a img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: 90%;
    border-radius: 10px;
}

#b{
    background-color: white;
}
#b img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: 90%;
    border-radius: 10px;
}


#c{
    background-color: white;
}
#c img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: 90%;
    border-radius: 10px;
}

#d{
    background-color: white;
}


#d img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: 90%;
    border-radius: 10px;
}


#e{
    background-color: white;
}
#e img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: 90%;
    border-radius: 10px;
}


#f{
    background-color: white;
}
#f img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: 90%;
    border-radius: 10px;
}


.photo{
    height:450px;
    width:40%;
    background-color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}



.photo img {
    width: 90%; /* Adjust the size (you can change this value) */
    height: auto;
    /* Maintain aspect ratio */
}


.content{
    height:100%;
    width:60%;
    background-color: white;
    border-right: 1px solid white;
    border-bottom:1px solid white;
    margin-left: 10px;
    
}



.firstcon{
    background-color: white;
    
    height:40px;
    width:100%;
    margin-top: 5px;
}

.seccon{
    background-color:white;
    height:60px;
    width:100%;
    margin-top: 5px;
}
.productname{
    color: black;
}

.thirdcon{
    background-color: white;
    height:100px;
    width:100%;
    margin-top: 10px;
}

.special{
    
    color:  rgb(36, 121, 36);
}
.number{
    margin-top:5px ;
}

.available{
    margin-top: 15px;
}


.offers{
    font-size: 14px;
    line-height: 1.5;
    
}

#pra{
    color: blue;
}
.forthcon{
    background-color: white;
    height:130px;
    width:100%;
    margin-top: 10px;
}

.fifthcon{
    background-color: white;
    height:40px;
    width:100%;
    margin-top: 40px;
    display:inline-block
}

.sai{
    margin-left: 20px;
    display: flex;
}
.sri{
    margin-left: 20px;
    background-color: grey
    ;
}

.pr{
    margin-left: 20px;
    align-self: center;
    
}
.pa{
    margin-left: 2px;
    align-self: center;
    color: blue;
}
















